<h1><%- title %></h1>

<p>Welcome to <%- title %></p>

<button onclick="connect('irc.mozilla.org', 6667, 'ircelbot', ['#ircel']);">connect</button>

<input type="text" id="text" onchange="say(0, this.value);" />
